<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body ng-app="inboxWrapper" ng-controller="inboxWrapperController" layout="row" class="layout-row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="true" tabindex="-1">
      <div id="sidebar-content" class="menu-toggle-list">
        <ul class="menu-toggle-list">
          <li class="account-name" ng-repeat="account in accounts" ng-click="selectAccount(account);">
            <md-button><a href="#" class="md-button md-ink-ripple">{{account.title}}</a></md-button>
          </li>
          <li class="parent-list-item account-add" ng-click="addAccount()">
            <md-button><a href="#" class="md-button md-ink-ripple">Add account</a></md-button>
          </li>
          <li class="parent-list-item account-logout" ng-click="logOut()">
            <md-button><a href="#" class="md-button md-ink-ripple">Log out</a></md-button>
          </li>
        </ul>
      </div>
    </md-sidenav>

    <div id="main-content" layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
      <webview id="content-frame" ng-src="{{frameUrl}}"></webview>
    </div>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script> -->
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript">

      angular.module('inboxWrapper', ['ngMaterial'])
        .config(function($sceProvider, $mdThemingProvider) {
          $sceProvider.enabled(false);
          $mdThemingProvider.theme('default')
            .primaryPalette('pink')
            .accentPalette('orange');
        })
        .controller('inboxWrapperController', function ($scope, $window, $document, $interval) {
          var ipc = require("electron").ipcRenderer;
          var sidebar = angular.element(document.querySelector('#sidebar-content'));
          var content = angular.element(document.querySelector('#main-content'));
          var webFrame = document.querySelector('#content-frame');

          $scope.frameUrl = 'https://inbox.google.com';
          $scope.accounts = [];

          $scope.addAccount = function() {
            $scope.frameUrl = 'https://accounts.google.com/AddSession?continue=https://inbox.google.com/';
          }

          $scope.selectAccount = function(account) {
            $scope.frameUrl = account.url;
          }

          $scope.logOut = function() {
            $scope.frameUrl = 'https://accounts.google.com/Logout?continue=https://inbox.google.com';
            $scope.accounts = [];
            ipc.send('logout');
          }

          /**
           * Hacky way to detect new user accounts
           */
          $interval(function() {
            var url = webFrame.src;
            if (url.indexOf('https://inbox.google.com') == 0) {
              var uid;
              var res;
              var components = url.split('/');
              if (isInt(components[4])) {
                uid = components[4];
              } else {
                uid = 0;
              }
              if (getUserById(uid) === null) {
                var title = webFrame.getTitle().split(' – ')[1];
                var user = {
                  'id': uid,
                  'url': url,
                  'title': title
                };
                $scope.accounts.push(user);
                ipc.send('addUser', user);
              }
            }
          }, 1000)


          ipc.on('loadToFrame', function(event, url) {
            $scope.frameUrl = url;
          });

          ipc.on('populateUsers', function(event, users) {
            $scope.accounts = users || [];
          });

          webFrame.addEventListener('new-window', function(event) {
            console.log("New window event", event);
            ipc.send('openLink', event.url);
          });

          webFrame.addEventListener('loadstop', function(event) {
            if (event.url.indexOf('inbox.google.com') > -1) {
              var uid = window.location.pathname.match(/^\/u\/(\d+)/);
              if (getUserById(uid) !== null) {
                var user = {
                  'id': uid,
                  'url': event.url
                };
                $scope.accounts.push(user);
                ipc.send('addUser', user);
              }
            }
          });

          var isInt = function(value) {
            return !isNaN(value) &&
                   parseInt(Number(value)) == value &&
                   !isNaN(parseInt(value, 10));
          };

          var getUserById = function(id) {
            for (var i = 0; i < $scope.accounts.length; i++) {
              if ($scope.accounts[i].id == id) {
                return $scope.accounts[i];
              }
            }
            return null;
          }

          var handleResize = function(event) {
            var h = $window.innerHeight;
            var w = $window.innerWidth;
            sidebar.css('height', h + 'px');
            content.css('height', h + 'px');
          }
          $document.on('resize', handleResize);
          ipc.on('handleResize', handleResize);
          handleResize();


        });
    </script>

  </body>
</html>
